*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.head-container{
  background-color: aqua;
  padding: 11px;
  display: flex;
  justify-content: center;
}

header .head-container .top{
  padding: 0px 9px;
  width: 800px;
  display: flex; 
  background-color: #daa520;
  justify-content: space-between;
  align-items: center;
}


header .head-container .top nav{
  width: 225px;
}

header nav ul{
  display: flex;

  list-style: none;
}

header nav ul a{
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
}
.hero-container{
  justify-content: center;
  height: 317px;
  align-items: center;
  display: flex;
  background-color: #00008b;
}
.hero{
  height: 225px;
  width: 510px;
  background-color: palevioletred;
}

.row-container{
  height: 320px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;

}

.azz-row{
  background-color: rgb(0, 179, 255);
  height: 275px;
  width: 332px;
}
.pink-row{
  background-color: rgb(219, 117, 205);
  height: 275px;
  width: 275px;
}

.row-revers-container{
  height: 320px;
  background-color: #d3d3d3;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;

}

.bot-hero-container{
  justify-content: center;
  height: 600px;
  align-items: center;
  display: flex;
  background-color: rgb(208, 201, 201);
}

.bot-hero{
  height: 550px;
  width: 800px;
  background-color: rgb(40, 182, 61);

}

.container-top-foot{
  height: 370px;
  display: flex;
  background-color: #23272a;
  justify-content: center;
  align-items: center;

}

.top-foot-pinck{
  background-color: darksalmon;
  height: 350px;
  width: 200px;

}

.top-foot-blu{
  background-color: darkcyan;
  height: 350px;
  width: 150px;
}
.container-bot-foot{
  background-color: #7fffd4;
  width: 800px;
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
}

.footer-conteiner{
  background-color: #23272a;
  display: flex;
  justify-content: center;
}

.logo{
  padding: 3px;
  background-color: #a18989;
}

.bottone{
  padding: 3px;
  background-color: #a18989;
}
